
.thumbnail{
width: 100%;
}
.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
.video-title{
margin-top: 0;
font-size: 14px;
font-weight: bold;
line-height: 20px;
margin-bottom: 10px;
}
.video-author,.video-stats{
font-size: 12px;
color:rgb(96, 96, 96);
}
.video-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 16px;
row-gap: 40px;
}
@media (max-width: 750px) {
  .video-grid{
  grid-template-columns: 1fr 1fr;
}}
@media(min-width: 751px)  and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.video-author{
margin-bottom: 4px;
}
.example{
display: inline-block;
}
.profile-picture{
width: 36px;
border-radius: 20px;
}
.thumbnail-row{
margin-bottom: 8px;
position: relative;
}
.video-info-grid{
display: grid;
grid-template-columns: 50px 1fr;
}
.header{

}
